* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

a {
  color: #fff;
}

@font-face {
  font-family: 'Usually';
  src: url(./fonts/Usually-font.otf) format('otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Usually';
  src: url(./fonts/Usually-font-Bold.otf) format('otf');
  font-weight: bold;
}

.font-ussualy {
  font-family: 'Usually';
}

body {
  background-color: #221e20;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

}

.header {
  width: 100%;
  display: flex;
  height: 85px;
  position: absolute;
  top: 0;
  background-color: #221e20;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  outline: 1px solid #ffffff63;
  z-index: 9999;
}

.logo {
  width: 150px;
  margin-left: 20px;
  outline: 1px solid #fff;
}

.menu {
  width: 100%;
  margin-top: 85px;
  display: none;
  text-align: center;
  justify-content: center;
  background-color: #231f20;
  color: #fff;

}

.menu-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  background-image: url(./images/menu.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  margin-right: 20px;
 
}

.menu-button:hover {
  cursor: pointer;
  opacity: .7;
}

.active {
  display: flex;
}

.ul {
  width: 100%;
  background-color: #1a1718;
  position: absolute;
  z-index: 9999;
}

li {
  display: flex;
  height: 55px;
  justify-content: center;
  align-items: center;
  width: 100%;
  outline: 1px solid #ffffff63;
  z-index: 9999;
}

li:hover {
  background-color: #1a1718;
}

.main-page-menu {
  position: absolute;
  top: 85px;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}